.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wrapper {
  height: 100%;
  width: 100%;
  background: #ffffff;
  overflow:auto;
}

.map {
  height: 100%;
  position:absolute;
  float: unset;
  width:75%;
}

.users {
  background:rgba(1,16,36,0.7);
  height: 100%;
  position:absolute;
  right:0;
  width:25%;
  overflow-y: scroll;
}
