.wrapper {
  height: 100%;
  width: 100%;
  background: #ffffff;
  overflow:auto;
}

.map {
  height: 100%;
  position:absolute;
  width:75%;
  background-repeat: no-repeat;
  z-index: 1;
}

.users {
  background:rgba(1,16,36,0.7);
  height: 100%;
  position:absolute;
  right:0;
  width:25%;
  overflow-y: scroll;
  padding-left: 15px;
  padding-right: 15px;
}

h4 {
  margin: .3rem;
  font-weight: 400;
  letter-spacing: .5px;
  font-size: 26px;
  margin-right: 10px;
  color: #ffffff;
}

.userList {
  cursor: pointer;
  border-radius: 25%;
}

.over_map { 
  height: auto;
  width: 274px;
  position: absolute;
  top: 170px;
  left: 160px; 
  z-index: 1;
  background:rgba(1,16,36,0.7);
}

